<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExecuter" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/Executer" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IExecuter" contract="CodeExecuterService.IExecuter"
        name="BasicHttpBinding_IExecuter" />
    </client>
    <services>
      <service name="CodeCoordination.Coordination"  behaviorConfiguration="metadataSupport">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/Coordination"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="CodeCoordination.ICoordination"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
